:focus {
  border: none;
  border-bottom: 2px solid #ee8434;
}
.search-input {
  width: 400px;
  height: 46px;
  margin: 10px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 2px solid #6e6f74;
}
.search-btn {
  background-color: #ee8434 !important;
  color: white !important;
}
.search-btn:hover {
  background-color: #d8782e !important;
}
