.backgroundGrey {
  background-color: #6e6f74;
}
.colorGrey {
  color: #6e6f74;
}
.backgroundYellow {
  background-color: #ee8434;
}
.colorYellow {
  color: #ee8434;
}
.colorWhite {
  color: white;
}
